[submodule "vendor/SFML"]
	path = vendor/SFML
	url = https://github.com/oxi-dev0/SFML
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/oxi-dev0/spdlog
[submodule "vendor/mINI"]
	path = vendor/mINI
	url = https://github.com/oxi-dev0/mINI
[submodule "vendor/nodesoup"]
	path = vendor/nodesoup
	url = https://github.com/oxi-dev0/nodesoup
[submodule "vendor/SelbaWard"]
	path = vendor/SelbaWard
	url = https://github.com/oxi-dev0/SelbaWard
